* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #ffffff;
	font-family: "Poppins";
	font-style: normal;
	background: linear-gradient(116.64deg, #1c1d1e 55.08%, #040505 100%);
}

html {
	scroll-behavior: smooth;
}

main {
	max-width: 1326px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 3rem;
	height: 100%;
	min-height: calc(100vh - 300px);
}
