.map {
	margin: 1rem;
}

.map iframe {
	width: 65%;
	height: 382px;
}

@media (max-width: 1080px) {
	.map iframe {
		height: 280px;
	}
}

@media (max-width: 840px) {
	.map iframe {
		width: 80%;
	}
}
